<div id="<%= dom_id employee_position %>">
  <p>
    <strong>Id position:</strong>
    <%= employee_position.id_position %>
  </p>

  <p>
    <strong>Id employee:</strong>
    <%= employee_position.id_employee %>
  </p>

</div>
