<div id="<%= dom_id employee %>">
  <p>
    <strong>Description:</strong>
    <%= employee.description %>
  </p>

  <p>
    <strong>Birth:</strong>
    <%= employee.birth %>
  </p>

  <p>
    <strong>Id position:</strong>
    <%= employee.id_position %>
  </p>

</div>
