<div id="<%= dom_id position_activitie %>">
  <p>
    <strong>Id position:</strong>
    <%= position_activitie.id_position %>
  </p>

  <p>
    <strong>Id activy:</strong>
    <%= position_activitie.id_activy %>
  </p>

</div>
